<div class="background">
    <div *ngIf="recipe" class="recipe-details">
        <h1>{{ recipe.title }}</h1>

        <div class="content-container">
            <div class="recipe-image-container">
                <img [src]="recipe.image" alt="Recipe Image" class="recipe-image">
                <span class="heart" [class.full]="isLoved" (click)="toggleLike(recipe)">
                    <i class="fas fa-heart"></i>
                </span>
                <div class="average-rating" *ngIf="reviews">
                    <p>{{ reviews.length }} Ratings ({{ calculateAverageRating() }}/5)</p>
                </div>
                
                <div class="rating" *ngIf="!isReviewed" class="update" >
                    <span class="star" (click)="setRating(1)" [class.filled]="newReview.rating >= 1">&#9733;</span>
                    <span class="star" (click)="setRating(2)" [class.filled]="newReview.rating >= 2">&#9733;</span>
                    <span class="star" (click)="setRating(3)" [class.filled]="newReview.rating >= 3">&#9733;</span>
                    <span class="star" (click)="setRating(4)" [class.filled]="newReview.rating >= 4">&#9733;</span>
                    <span class="star" (click)="setRating(5)" [class.filled]="newReview.rating >= 5">&#9733;</span>
                </div>
                
                <div *ngIf="isReviewed" class="update">
                    <div *ngFor="let review of reviewsUpdate" class="rating">
                      <span 
                        *ngFor="let filled of getStarArray(review.rating); let i = index" 
                        class="star" 
                        [class.filled]="filled" 
                        (click)="updateRating(i + 1)">
                        &#9733;
                      </span>
                    </div>
                  </div>
                  
                  
                <button *ngIf="!isReviewed" (click)="addReview()" class = "button">Add Review</button>
                <button *ngIf="isReviewed" (click)="updateReview()" class = "button">Update Review</button>
                

                
            </div>

            <div class="instructions-ingredients">
                <div class="ingredients">
                    <h3 class = "ing">Ingredients</h3>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.ingredient }}</li>
                    </ul>
                </div>

                <div class="instructions">
                    <h3 class = "ing">Instructions</h3>
                    <ol>
                        <li *ngFor="let instruction of recipe.instructions">{{ instruction.instruction }}</li>
                    </ol>
                </div>
            </div>
        </div>



        <div *ngIf="name === 'spoonacular'">
            <p><b>Ready in minutes:</b> {{ recipe.readyInMinutes }}</p>
            <p><b>Servings:</b> {{ recipe.servings }}</p>
            <p><b>Summary:</b> {{ recipe.summary }}</p>
        </div>

        <div class="reviewAndComment">

            <div class="displayRatings">
                
                <div class="comments">
                    <h3 class = "comm2">Comments</h3>
                    <div *ngIf="comments && comments.length > 0">
                        <div *ngFor="let comment of comments" class="commentBox">
                            <h4>{{ comment.username }}</h4>
                            <p>{{ comment.content }}</p>
                        </div>
                        
                    </div>
                    <div *ngIf="!comments || comments.length === 0" class="comm1">
                        <p>No comments yet. Be the first to comment!</p>
                    </div>
                </div>
            
                <h3 class = "comm2">Add Comment</h3>
                <textarea [(ngModel)]="newComment" placeholder="Enter your comment"></textarea>
                <button (click)="addComment()">Add Comment</button>

            </div>
        </div>
    </div>
</div>