.background {
  background-color: pink;
}
.recipes-title {
  padding-top:50px;
  padding-bottom:40px;
  text-align: center;
  font-size: 24px;
}

.recipes-container {
  display: flex;
  margin-left:30px;
  margin-right:30px;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-item-wrapper {
  flex: 1 0 300px;
}

.recipe-item {
  position: relative;
  display: inline-block; 
}

.recipe-link {
  text-decoration: none;
}

.image-container {
  position: relative;
  display: inline-block;
}

.recipe-image {
  width: 300px;
  height: auto;
  display: block;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px; 
  color: white;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  box-sizing: border-box;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.heart {
  position: absolute;
  top: 10px; /* Adjusted to create space from the top */
  right: 10px; /* Adjusted to create space from the right */
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 1;
}


.heart.full {
  color: red;
}
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;


  .mat-paginator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .mat-paginator-range-label,
    .mat-paginator-page-size {
      color: #333;
    }

    .mat-paginator-navigation {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        outline: none;

        &:hover {
          background-color: #f0f0f0;
        }

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
