.heart.full {
  color: red;
}

.heart {
  color: black;
  transition: color 0.3s ease;
}

.background {

  padding: 20px; 
}

.form {
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 50px;
}

.form label {
  margin-bottom: 5px; 
  display: block; 
}

.form input {
  width: calc(100% - 10px); 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

.form button {
  margin-left: 35%;
  margin-top: 20px;
  padding: 12px 24px;
  background: repeating-linear-gradient( to left,#8d8d8d,#6d66db);
  border: none;
  border-radius: 24px;
  color: #fff;
}

.form button:hover {
  background: linear-gradient(#40E0D0, #02a0d4);
  outline: none;
}



.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  .recipe {
    flex-basis: calc(32% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .recipe-image {
      width: 250px;
      height: 200px;
      border-radius: 5px;
      margin-top: 10px;
    }

    .ingredients-container {
      display: flex;
      justify-content: space-between;
    }

    .used-ingredients,
    .missed-ingredients {
      width: 48%;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .used-ingredients {
      text-align: left;
      font-size: 12px;
      padding-left: 15px;
    }

    .missed-ingredients {
      text-align: right;
      font-size: 12px;
      padding-right: 15px;
    }

    .ingredient-image {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 10px;
    }

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
    }

    h2 {
      
      margin-top: 5px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      justify-content: center;
    }
    h3 {
      padding-top:15px;
      margin-top: 5px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      justify-content: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
      text-align: center;
    }

    // Stilurile pentru fiecare ingredient
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-align: center; 
    }

    .ingredient-image {
      width: 30px; 
      height: 30px;
      border-radius: 50%; 
      margin-right: 10px; 
    }
  }
}


.error-message {
  color: #e74c3c;
  text-align: center;
}
h1 {
  padding-top:15px;
  margin-top: 5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}