<div>
    <h2>Search Recipes by Ingredients</h2>
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" [(ngModel)]="ingredients" placeholder="Enter ingredients...">
    <br>
    <label for="ranking">Ranking:</label>
    <input type="number" id="ranking" [(ngModel)]="ranking" placeholder="Enter ranking...">
    <br>
    <button (click)="searchByIngredients()">Search Recipes</button>
  </div>
  
  <div *ngIf="recipes && recipes.length">
    <h2>Search Results</h2>
    <ul>
      <li *ngFor="let recipe of recipes">
        <a (click)="showRecipeDetails(recipe.id)" class="recipe-item">
        <img [src]="recipe.image" alt="{{ recipe.title }}" >
        <h3>{{ recipe.title }}</h3>
        </a>
        <p>Used Ingredient Count: {{ recipe.usedIngredientCount }}</p>
        <p>Missed Ingredient Count: {{ recipe.missedIngredientCount }}</p>
      </li>
    </ul>
  </div>
  
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  
  <div *ngFor="let recipe of searchResult">
    <h2>{{ recipe.title }}</h2>
    <img [src]="recipe.image" alt="{{ recipe.title }}">
    
    <h3>Used Ingredients:</h3>
    <ul>
      <li *ngFor="let usedIngredient of recipe.usedIngredients">
        <img [src]="usedIngredient.image" alt="{{ usedIngredient.name }}" width="50">
        {{ usedIngredient.original }}
      </li>
    </ul>
    
    <h3>Missed Ingredients:</h3>
    <ul>
      <li *ngFor="let missedIngredient of recipe.missedIngredients">
        <img [src]="missedIngredient.image" alt="{{ missedIngredient.name }}" width="50">
        {{ missedIngredient.original }}
      </li>
    </ul>
  </div>
