.heart.full {
  color: red;
}

.heart {
  color: black;
  transition: color 0.3s ease;
}

.background {

  padding: 20px; // Adaugăm puțin spațiu în jurul conținutului
}

.form {
  max-width: 400px; /* Ajustează lățimea maximă a formularului */
  margin: 0 auto; /* Centrare horizontală a formularului */
  padding: 20px; /* Adaugă puțin spațiu în jurul conținutului formularului */
  border: 1px solid #ccc; /* Adaugă o linie de contur pentru formular */
  border-radius: 5px; /* Rotunjirea marginilor formularului */
  margin-bottom: 50px;
}

.form label {
  margin-bottom: 5px; /* Adaugă un spațiu mic între etichete și câmpurile de input */
  display: block; /* Asigură ca etichetele să fie pe linii separate */
}

.form input {
  width: calc(100% - 10px); /* Ajustează lățimea câmpurilor de input pentru a se potrivi în interiorul formularului */
  padding: 10px; /* Adaugă un spațiu între text și marginea câmpurilor de input */
  margin-bottom: 10px; /* Adaugă un spațiu între câmpurile de input */
  border: 1px solid #ccc; /* Adaugă o linie de contur pentru câmpurile de input */
  border-radius: 3px; /* Rotunjirea marginilor câmpurilor de input */
}

.form button {
  margin-left: 35%;
  margin-top: 20px;
  padding: 12px 24px;
  background: repeating-linear-gradient( to left,#8d8d8d,#6d66db);
  border: none;
  border-radius: 24px;
  color: #fff;
}

.form button:hover {
  background: linear-gradient(#40E0D0, #02a0d4);
  outline: none;
}



.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
  /* Modifică lățimea containerului pentru a permite afișarea a trei rețete */
  max-width: 1200px;
  /* Adaugă o lățime maximă pentru a evita întinderea excesivă pe ecrane mari */
  margin: 0 auto;
  /* Centrare */


  .recipe {
    flex-basis: calc(32% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .recipe-image {
      width: 250px;
      height: 200px;
      border-radius: 5px;
      margin-top: 10px;
    }

    .ingredients-container {
      display: flex;
      justify-content: space-between;
    }

    .used-ingredients,
    .missed-ingredients {
      width: 48%;
      /* Asigură că cele două coloane ocupă aproape întreaga lățime */
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .used-ingredients {
      text-align: left;
      font-size: 12px;
      padding-left: 15px;
    }

    .missed-ingredients {
      text-align: right;
      font-size: 12px;
      padding-right: 15px;
    }

    .ingredient-image {
      width: 5px;
      /* Ajustați dimensiunea imaginilor de ingrediente la 30px */
      height: 5px;
      border-radius: 50%;
      margin-right: 10px;
    }

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
    }

    h2 {
      
      margin-top: 5px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      justify-content: center;
    }
    h3 {
      padding-top:15px;
      margin-top: 5px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      justify-content: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
      text-align: center;
    }

    // Stilurile pentru fiecare ingredient
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-align: center; // Centrăm textul ingredientului
    }

    .ingredient-image {
      width: 30px; // Setăm dimensiunea imaginilor de ingrediente la 50px
      height: 30px;
      border-radius: 50%; // Rotunjim colțurile pentru a obține un aspect circular
      margin-right: 10px; // Adăugăm un spațiu mic între imagine și text
    }
  }
}

// Stilizare pentru mesajul de eroare
.error-message {
  color: #e74c3c;
  text-align: center;
}
h1 {
  padding-top:15px;
  margin-top: 5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}