<div class="background">
  <div class="extract-recipe">
    <div class="extract-container">
      <h1>Extract Recipe</h1>
      <input type="text" [(ngModel)]="recipeUrl" placeholder="Enter recipe URL" class="input">
      <button (click)="extractRecipe(recipeUrl)" class="button">Extract</button>
    </div>


    <div class="recipe">
      <h1>{{ recipeDetails.title }}</h1>
      <img [src]="recipeDetails.image" alt="{{ recipeDetails.title }}" width="300">
    </div>

    <div class="recipe">
      <h2>Ingredients:</h2>
      <div class="ingredients-list">
        <ol>
          <li *ngFor="let ingredient of recipeDetails.extendedIngredients">
            {{ ingredient.original }}
          </li>
        </ol>
      </div>
      <h2>Instructions:</h2>
      <div class="instructions-list">
        <ol *ngIf="recipeDetails.analyzedInstructions && recipeDetails.analyzedInstructions.length > 0">
          <li *ngFor="let step of recipeDetails.analyzedInstructions[0]?.steps">
            {{ step.step }}
          </li>
        </ol>
      </div>
    </div>
  </div>