<div class="main">
  <div class="background-image">
    <img src="https://recipebook.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fslide1.52986a5a.jpeg&w=1200&q=75"
      alt="Delicioasă rețetă">
  </div>

  <div class="content">
  </div>
</div>


<div class="recipes-menu">
  <div *ngFor="let recipe of recipes" class="recipe-card">
    <a routerLink="/details/{{recipe.id}}/dishgen" class="recipe-link">
      <img [src]="recipe.image" alt="Recipe Image" class="recipe-image" />
      <span class="image-title">{{ recipe.title }}</span>
    </a>
  </div>
</div>

<div class="word-cloud-container">
  <div class="dish-types">
    <span *ngFor="let word of dishTypes; let i = index" 
          (click)="onWordDishTypesClick(word)" 
          class="clickable-word" 
          [ngClass]="{'big-word': i % 2 === 0, 'small-word': i % 2 !== 0}">
      {{ word }}
    </span>
  </div>
  <div class="diets">
    <span *ngFor="let word of diets; let i = index" 
          (click)="onWordDietsClick(word)" 
          class="clickable-word" 
          [ngClass]="{'big-word': i % 2 === 0, 'small-word': i % 2 !== 0}">
      {{ word }}
    </span>
  </div>
</div>




<div class="main">
  <div class="container">
    <div class="logo">
      <img src="./assets/logo.png" alt="Logo Delicii">
      <p>Follow us</p>
      <div class="social-icons">
        <a href="link_facebook"><img src="./assets/facebook.png" alt="Facebook"></a>
        <a href="link_instagram"><img src="./assets/instagram.png" alt="Instagram"></a>
        <a href="link_tiktok"><img src="./assets/tiktok.jpg" alt="TikTok"></a>
        <a href="link_twitter"><img src="./assets/twitter.avif" alt="Twitter"></a>
      </div>
    </div>

    <div class="tabs">
      <div class="column">
        <div>
          <a routerLink="/added" class="nav-link">{{ capitalizeFirstLetter('added') }} Recipes</a>
        </div>
        <div>
          <a routerLink="/dishgen" class="nav-link">{{ capitalizeFirstLetter('dishgen') }} Recipes</a>
        </div>
        <div>
          <a routerLink="/favorite" class="nav-link">{{ capitalizeFirstLetter('favorite') }}</a>
        </div>
      </div>
      <div class="column">
        <div>
          <a routerLink="/search-ingredients" class="nav-link">{{ capitalizeFirstLetter('searchByIngredient') }}</a>
        </div>
        <div>
          <a routerLink="/search-nutrition" class="nav-link">{{ capitalizeFirstLetter('searchWithNutritionsValues')
            }}</a>
        </div>
        <div>
          <a (click)="showNewsletterForm()" class="nav-link">{{ capitalizeFirstLetter('newsletter') }}</a>
          <div *ngIf="newsletterVisible" class="newsletter-form">
            <input type="email" placeholder="Enter your email" [(ngModel)]="email">
            <button (click)="subscribeEmail()">Save</button>
          </div>
        </div>

      </div>
      <div class="column">
        <div>
          <a class="nav-link"><i class="fas fa-map-marker-alt"></i> Cluj-Napoca, Romania</a>
        </div>
        <div>
          <a class="nav-link"><i class="fas fa-phone-alt"></i> +40762529150</a>
        </div>
        <div>
          <a class="nav-link"><i class="fas fa-envelope"></i> contact@delicii.com</a>
        </div>
      </div>
    </div>
    
  </div><div class = "space"></div>
</div>