* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background-image {
  width: 100%;
  margin-top: 0;
}

.background-image img {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
}


.background-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  padding-top: 60px;
  padding-bottom:10px;
  color: #fff;
}

.recipes-menu {
  display: flex;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding-bottom: 60px;
}

.recipes-menu::-webkit-scrollbar {
  width: 0; 
}

.recipe-card {
  position: relative;
  width: 350px;
  margin-left: 30px;
}

.recipe-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.recipe-image {
  width: 250px;
  height: auto;
  display: block;
  border-radius: 5px;
}

.image-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: rgba(64, 63, 63, 0.911);
  padding: 5px 0;
  box-sizing: border-box;
}

.content {
  width: 90%;
  max-width: 600px;
 
}

.email,
.contact {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #aaa;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e68900;
}

@media (min-width: 768px) {
  .content {
    width: 50%;
  }
}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}


.logo {
  flex-grow: 1;
  margin-right: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  flex-grow: 2;
  display: flex;
  gap: 10px;
  
}


.logo p {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}



.tabs {
  margin-left: 10px;
  display: flex;
  gap: 80px;

  .column {
  flex-basis: 70%; 
  flex-grow: 1;
  width: 100%;

  &:first-child {
    margin-right: 50px;
  }

  div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;


  &:hover {
    color: #555;
  }
}.newsletter-form {
  margin-top: 10px;
}

.newsletter-form input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.1); 
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); 
}


.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #e68900;
}

.contact-info img {
  width: 20px;
  margin-right: 10px;
}

.space{
margin-bottom: 50px;

}
.word-cloud-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  //background-color: #2b2b2b; 
  background-color: black;
}

.dish-types, .diets {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%; 
}

.dish-types {
  justify-content: flex-start;
}

.diets {
  justify-content: flex-end;
}

.clickable-word {
  margin: 5px;
  cursor: pointer;
  color: #b18aff; 
}

.big-word {
  font-size: 2em; 
}

.small-word {
  font-size: 1em;
}

