<div class="recipe" *ngFor="let recipe of recipes">
  <h3 class="recipe-title">{{ recipe.title }}</h3>

  <div class="recipe-content">
    <div class="recipe-image">
      <img [src]="recipe.image" alt="{{ recipe.title }}" width="200">
    </div>

    <div class="recipe-details">
      <div class="recipe-ingredients-steps">
        <div>
          <h4 class="recipe-ingredients-title">Ingredients:</h4>
          <ul class="recipe-ingredients">
            <li *ngFor="let ingredient of recipe.ingredients" class="recipe-ingredient">{{ ingredient.ingredient }}</li>
          </ul>
        </div>

        <div>
          <h4 class="recipe-steps-title">Steps:</h4>
          <ul class="recipe-steps">
            <li *ngFor="let instruction of recipe.instructions" class="recipe-step">{{ instruction.instruction }}</li>
          </ul>
        </div>
      </div>
      <div class="recipe-buttons">
        <button class="recipe-accept-button" (click)="acceptRecipe(recipe.id)">Accept</button>
        <button class="recipe-reject-button" (click)="rejectRecipe(recipe.id)">Reject</button>
      </div>
    </div>
  </div>
</div>
