.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 150px;

    h2 {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #7b00ff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #7e2dc4;
        }

        &:active {
            background-color: #642fa1;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(91, 22, 195, 0.25);
        }
    }
}