<div class="navbar">

    <div class="navbar-right">
      <!-- Dropdown 1 -->
      <div class="dropdown">
        <button class="dropbtn">Recipe
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/recipes" class="nav-link">Recipes</a>
          <a routerLink="/add-recipe-detail" class="nav-link">Added</a>
          <a routerLink="/dishgen" class="nav-link">Dishgen</a>
        </div>
      </div>
  
      <!-- Dropdown 2 -->
      <div class="dropdown">
        <button class="dropbtn">Search
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/search-ingredients" class="nav-link">Search Ingredients</a>
          <a routerLink="/advanced-search" class="nav-link">Advanced Search</a> 
          <a routerLink="/recipes" class="nav-link">Recipes</a>
        </div>
      </div>
    </div>
  </div>
  